.social:hover {
    --webkit-transform: scale(1.1);
    --moz-transform: scale(1.1);
    --o-transform: scale(1.1);
}
.social {
    font-size: 8vw;
    --webkit-transform: scale(0.8);
   /* Browser Variations: */
    --moz-transform: scale(0.8);
    --o-transform: scale(0.8);
    --webkit-transition-duration: 0.5s;
    --moz-transition-duration: 0.5s;
    --o-transition-duration: 0.5s;
}
.contact{
    font-size: 30px;
}
/* Multicoloured Hover Variations */
#social-fb:hover {
    color: #909090;
}
#social-tw:hover {
    color: #909090;
}
#social-gp:hover {
    color: #909090;
}
#social-em:hover {
    color: #909090;
}

.footerLink{
    font-size: xx-large;
   color: #e24a4a !important
}
/* .footer{
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    list-style-type: none;
    bottom: 0;
    border: none;
    max-height: 2vw;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'EB Garamond', serif;
    font-size :35px;
    z-index: 10;
} */