.errorPage{
    background-image: url('../../assets/img/404/404.jpg');
    object-fit: cover;
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
    background-size: cover;
    opacity: 95%;
    background-position: center;
}
.pageContent{
    margin-top: 10vw;
    z-index: 6;
    color: black;
}

.goHome{
    margin-top: 40vw;
    font-weight: bolder;
    background-color:rgb(231, 98, 98);
    border:none;
    color:white;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(122, 66, 66, 0.2), 0 6px 20px 0 rgba(37, 22, 22, 0.19);
}
.goHome:hover{
    background-color:rgb(124, 25, 25)
}